{% extends "login/base.html" %}
{% block body_block %}

{% load static %}

<link rel="stylesheet" href="{% static 'login/css/services.css' %}">
<link rel="stylesheet" href="{% static 'login/css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'login/css/swiper-style.css' %}">

<style>
    .container-bg {
        background-color: #f8f9fa; /* light grey background color */
    }
    #contact-container {
        border-radius: 8px;
    }
    .card-body, .image-box {
        background-color: #f8f9fa; /* light grey background color */
        border-radius: 8px;
    }
    @media (max-width: 767px) {
        .img-container-contact {
            display: none; /* hide image on small screens */
        }
    }
</style>

<!-- Jumbotron -->
<div class="p-5 text-center bg-image shadow" style="
background-image: url('https://images.pexels.com/photos/19770199/pexels-photo-19770199/free-photo-of-people-walking-through-desert.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
height: 800px;
">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center text-center align-items-center h-100">
            <div class="text-white container ">
                <div class="mb-5" style="width: fit-content; margin: auto;">
                    <h1 class="display-4 fw-bold">Welcome</h1>
                    <hr class="border border-secondary border-2 opacity-100 rounded-5">
                </div>
                <p class="mb-3 fs-5 fw-light mx-lg-5">Embark on a spiritual adventure with us as we guide you through ancient temples, holy sites, and revered landmarks steeped in religious history and cultural significance. Our platform offers a seamless booking experience, ensuring that your pilgrimage is both enriching and hassle-free. Join us on a journey of spiritual awakening and cultural discovery. Book your religious tour today and embark on a pilgrimage of a lifetime.</p>
                
                <a class="btn btn-lg btn-outline-primary btn-rounded" href="#!" role="button">Learn More <i class="fa-solid fa-right-long"></i> </a>
                
                <section class="home-newsletter mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="single">
                                    <form action="{% url 'cart:searchproduct' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" name="searched" class="form-control"
                                            placeholder="Search Your Destination">
                                            <span class="input-group-btn">
                                                <button class="btn btn-theme" type="submit"><i class="fa-solid fa-magnifying-glass-location fa-fade fa-2xl"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<!-- Card Body -->
<div class="my-5" style="width: fit-content; margin: auto;">
    <h1 class="display-4 fw-bold">Popular Packages</h1>
    <hr class="border border-secondary border-2 opacity-100 rounded-5">
</div>

<div class="container">    
    <div class="custom-card-body">
        <div class="container-custom-swiper swiper">
            <div class="slide-container-custom">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4 position-relative">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top rounded object-cover" alt="" />
                            <button class="btn btn-secondary position-absolute top-0 end-0 mt-4 mx-2"><i class="fa-solid fa-heart fa-2xl"></i></button>
                        </div>
                        
                        <div class="card-body p-4 text-center">
                            <h5 class="card-title mb-3">Tour Pack 1</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="star-rating">
                                <ul class="list-inline" style="color: gold;">
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa-solid fa-star-half-stroke fa-lg"></i></i></li>
                                </ul>
                            </div>
                            <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                            <div class="d-flex justify-content-evenly">
                                <div><button class="btn btn-primary btn-rounded">Add to Cart</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top rounded object-cover" alt="" />
                            <button class="btn btn-secondary position-absolute top-0 end-0 mt-4 mx-2"><i class="fa-solid fa-heart fa-2xl"></i></button>
                        </div>
                        <div class="card-body p-4 text-center">
                            <h5 class="card-title mb-3">Tour Pack 2</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="star-rating">
                                <ul class="list-inline" style="color: gold;">
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa-solid fa-star-half-stroke fa-lg"></i></i></li>
                                </ul>
                            </div>
                            <p class="item-price"><strike>$300.00</strike> <b>$269.00</b></p>
                            <div class="d-flex justify-content-evenly">
                                <div><button class="btn btn-primary btn-rounded">Add to Cart</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top rounded object-cover" alt="" />
                            <button class="btn btn-secondary position-absolute top-0 end-0 mt-4 mx-2"><i class="fa-solid fa-heart fa-2xl"></i></button>
                        </div>
                        <div class="card-body p-4 text-center">
                            <h5 class="card-title mb-3">Tour Pack 3</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="star-rating">
                                <ul class="list-inline" style="color: gold;">
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa-solid fa-star-half-stroke fa-lg"></i></i></li>
                                </ul>
                            </div>
                            <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                            <div class="d-flex justify-content-evenly">
                                <div><button class="btn btn-primary btn-rounded">Add to Cart</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top rounded object-cover" alt="" />
                            <button class="btn btn-secondary position-absolute top-0 end-0 mt-4 mx-2"><i class="fa-solid fa-heart fa-2xl"></i></button>
                        </div>
                        <div class="card-body p-4 text-center">
                            <h5 class="card-title mb-3">Tour Pack 4</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="star-rating">
                                <ul class="list-inline" style="color: gold;">
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star fa-lg"></i></li>
                                    <li class="list-inline-item"><i class="fa-solid fa-star-half-stroke fa-lg"></i></i></li>
                                </ul>
                            </div>
                            <p class="item-price"><strike>$300.00</strike> <b>$269.00</b></p>
                            <div class="d-flex justify-content-evenly">
                                <div><button class="btn btn-primary btn-rounded">Add to Cart</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</div>
<!-- Card Body -->

<!-- Our Services Body -->
<div class="my-5" style="width: fit-content; margin: auto;">
    <h1 class="display-4 fw-bold">Request A Quote</h1>
    <hr class="border border-secondary border-2 opacity-100 rounded-5">
</div>

<!-- <div class="container container-bg mb-5 shadow" id="contact-container"> -->
    <div class="container mb-5" id="contact-container">
        <div class="row">
            <div class="col-md-6 p-4">
                <!-- <h1 class="text-center">Enter Details Here</h1> -->
                <form>
                    <!-- <h4 class="text-center mb-3">Enter Details Here</h4> -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" class="form-control form-control-lg" />
                                <label class="form-label">Full Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div data-mdb-input-init class="form-outline">
                            <textarea class="form-control form-control-lg" rows="4"></textarea>
                            <label class="form-label">Enter Message</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div data-mdb-input-init class="form-outline">
                                <input type="date" class="form-control form-control-lg" />
                                <label class="form-label">Start Date</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div data-mdb-input-init class="form-outline">
                                <input type="date" class="form-control form-control-lg" />
                                <label class="form-label">End Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div data-mdb-input-init class="form-outline">
                            <input type="number" class="form-control form-control-lg" />
                            <label class="form-label">No. of Days</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div data-mdb-input-init class="form-outline">
                            <input type="email" class="form-control form-control-lg" />
                            <label class="form-label">Email</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div data-mdb-input-init class="form-outline">
                            <input type="email" class="form-control form-control-lg" />
                            <label class="form-label">Contact No</label>
                        </div>
                    </div>
                    
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary w-100 justify-content-evenly me-2 rounded-pill">Submit</button>
                        <button type="reset" class="btn btn-tertiary w-100 justify-content-evenly ms-2 rounded-pill">Reset</button>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340709.862661001!2d-82.50180837394292!3d35.14634498704759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541fc4fc381a81%3A0xad3f30f5e922ae19!2sNorth%20Carolina%2C%20USA!5e0!3m2!1sen!2snp!4v1709050703794!5m2!1sen!2snp" class="pt-3"  width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </form>
            </div>
            
            <div class="col-md-6 img-container-contact p-0 m-0 overflow-hidden">
                <img src="https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="object-cover h-100 rounded-start-0" alt="Placeholder Image">
            </div>
        </div>
    </div>
    
    <!-- Our Services Body -->
    
    <script src="{% static 'login/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'login/js/swiper-script.js' %}"></script>
    
    {% endblock %}