{% extends "login/base.html" %}
{% block body_block %}

{% load static %}

<link rel="stylesheet" href="{% static 'login/css/services.css' %}">
<link rel="stylesheet" href="{% static 'login/css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'login/css/swiper-style.css' %}">


<style>
    .home-newsletter .single {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; 
    }
    
    .home-newsletter .single h2 {
        font-size: 22px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 40px; 
    }
    
    .home-newsletter .single .form-control {
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
        border-radius: 20px 0 0 20px; 
    }
    
    .home-newsletter .single .form-control:focus {
        box-shadow: none;
        border-color: #B71C1C; 
    }
    
    .home-newsletter .single .btn {
        min-height: 50px; 
        border-radius: 0 20px 20px 0;
        background: #B71C1C;
        color: #fff;
        transition: all 0.5s;
    }
    
    .home-newsletter .single .btn:hover {
        background: #000;
    }
</style>

<!-- Jumbotron -->
<div class="p-5 text-center bg-image" style="
background-image: url('https://images.pexels.com/photos/163168/mountains-summit-winter-snow-163168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
height: 800px;
">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center text-center align-items-center h-100">
        <div class="text-white container ">
            <div class="mb-5" style="width: fit-content; margin: auto;">
                <h1>Welcome to &ldquo;Visit Holy Places&rdquo;</h1>
                <hr class="border border-secondary border-2 opacity-100 rounded-5">
            </div>
            <p class="mb-3 fs-5 fw-light mx-lg-5">Embark on a spiritual adventure with us as we guide you through ancient temples, holy sites, and revered landmarks steeped in religious history and cultural significance. Our platform offers a seamless booking experience, ensuring that your pilgrimage is both enriching and hassle-free. Join us on a journey of spiritual awakening and cultural discovery. Book your religious tour today and embark on a pilgrimage of a lifetime.</p>
            
            <a class="btn btn-primary btn-lg" href="#!" role="button">Learn More <i class="fa-solid fa-right-long"></i> </a>
            
            <section class="home-newsletter mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="single">
                                <form action="" method="">
                                    
                                    <div class="input-group">
                                        <input type="text" name="text" class="form-control"
                                        placeholder="Search Your Destination">
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme" type="submit"><i class="fa-solid fa-magnifying-glass-location fa-fade fa-2xl"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
<!-- Jumbotron -->

<!-- Card Body -->
<div class="my-5" style="width: fit-content; margin: auto;">
    <h1>Popular Packages</h1>
    <hr class="border border-secondary border-2 opacity-100 rounded-5">
</div>

<div class="container">    
    <div class="custom-card-body">
        <div class="container-custom-swiper swiper">
            <div class="slide-container-custom">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top rounded object-cover" alt="" />
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title mb-3">Tour Pack 1</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="d-flex justify-content-between">
                                <div><button class="btn btn-primary">Details</button></div>
                                <div><button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top rounded object-cover" alt="" />
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title mb-3">Tour Pack 2</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="d-flex justify-content-between">
                                <div><button class="btn btn-primary">Details</button></div>
                                <div><button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top rounded object-cover" alt="" />
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title mb-3">Tour Pack 3</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="d-flex justify-content-between">
                                <div><button class="btn btn-primary">Details</button></div>
                                <div><button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom swiper-slide">
                        <div class="image-box pt-4 px-4">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top rounded object-cover" alt="" />
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title mb-3">Tour Pack 4</h5>
                            <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p> -->
                            <div class="d-flex justify-content-between">
                                <div><button class="btn btn-primary shadow">Details</button></div>
                                <div><button class="btn btn-primary shadow"><i class="fa-solid fa-cart-shopping"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</div>
<!-- Card Body -->

<!-- Our Services Body -->
<div class="my-5" style="width: fit-content; margin: auto;">
    <h1>Our Services</h1>
    <hr class="border border-secondary border-2 opacity-100 rounded-5">
</div>

<section class="mb-5" id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Service 1</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Service 2</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Service 3</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Service 4</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Service 5</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Service 6</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, sed? Delectus quisquam magnam quidem sit laudantium ut aspernatur a. Harum tenetur omnis, nihil corporis consectetur corrupti. Ab ea quo labore!</p>
                        <a href="" title="Read more" class="read-more" >Read more<i class="fa-solid fa-square-caret-right mx-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- Our Services Body -->

<script src="{% static 'login/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'login/js/swiper-script.js' %}"></script>

{% endblock %}