{% extends "login/base.html" %}
{% block body_block %}

{% load static %}
{% load custom-tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/css/register.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Login</h3>
                                <p class="text-muted mb-4">Login to portal from here.</p>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <!-- <div class="form-group mb-3">
                                        <input id="username" type="text" placeholder="Your Username"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="username" value="" autocomplete="">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input id="password" type="password" placeholder="Your Password"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="password1" autocomplete="">
                                    </div> -->

                                    <div class="form-group mb-3"> 
                                        {% if loginform.username.errors %}
                                        {{ loginform.username|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{loginform.username}}
                                        {% endif %}
                                        {% for error in loginform.username.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3"> 
                                        {% if loginform.password.errors %}
                                        {{ loginform.password|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{loginform.password}}
                                        {% endif %}
                                        {% for error in loginform.password.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    {% if messages %}
                                        <div class="messages">
                                        {% for message in messages %}
                                            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    
                                    <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 w-100 rounded-pill shadow-sm p-2">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-none d-md-flex bg-image"></div>

        </div>
    </div>
</body>

{% endblock %}

</html>