{% extends "login/base.html" %}
{% block body_block %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'login/css/register.css' %}">
        <title>Register</title>
    </head>
<body>
    
    <div class="container">
        <!-- <h1>Register Form</h1> -->
        <!-- <p>Welcome to register page <a href="{% url 'homepage' %}">Go Back</a></p> -->
    </div>
    
    <!---------------------------------------------------------------------------->
    <!------------------------------Form Starts Here------------------------------>
    <!---------------------------------------------------------------------------->
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image-register"></div>
            
            
            <!-- The content half -->
            <div class="col-md-6">
                <div class="login d-flex align-items-center py-5">
                    
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4 mt-sm-4">Register</h3>
                                <p class="text-muted mb-4">New to Dharmam Saranam Gachhyami? Register Here.</p>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    
                                    <div class="form-group mb-3">
                                        <input id="email" type="email" placeholder="Your Email Address"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="email" value="" autocomplete="email">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <input id="username" type="text" placeholder="Your Username"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="username" value="" autocomplete="username">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <input id="phone_number" type="text" placeholder="Your Phone Number"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="phone_number" value="" autocomplete="phone_number">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <input id="password1" type="password" placeholder="Your Password"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="password1" value="" autocomplete="password1">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <input id="password2" type="password" placeholder="Confirm Password"
                                        class="p-2 form-control rounded-pill border-0 shadow-sm px-4 text-dark"
                                        name="password2" value="" autocomplete="password2">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <select class="form-select form-select-md mb-3 rounded-pill border-0 shadow-sm px-4 text-dark" aria-label=".form-select-lg example" name="role">
                                            <option selected disabled>--Type of user--</option>
                                            <option value="Customer">Customer</option>
                                            <option value="Package Provider">Package Provider</option>
                                            <option value="Product Seller">Product Seller</option>
                                        </select>
                                        
                                    </div>
                                    
                                    <!----Reference register form from views register------------->
                                    <!-- {{registerform.as_p}} -->
                                    
                                    <button type="submit" value="Register"
                                    class="btn btn-primary btn-block text-uppercase mb-2 w-100 rounded-pill shadow-sm p-2">Register</button>

                                    <hr>
                                    <label class="text-muted">By clicking Register, you agree to the <a href="">term of use</a></label>
                                    
                                </form>
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div>
        </div>
    </div>
    
</body>

{% endblock %}

</html>