{% extends "login/base.html" %}
{% block body_block %}

{% load static %}
{% load custom-tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'login/css/register.css' %}">
        <title>Register</title>
    </head>
<body>
    
    <div class="container">
        <!-- <h1>Register Form</h1> -->
        <!-- <p>Welcome to register page <a href="{% url 'homepage' %}">Go Back</a></p> -->
    </div>
    
    <!---------------------------------------------------------------------------->
    <!------------------------------Form Starts Here------------------------------>
    <!---------------------------------------------------------------------------->
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image-register"></div>
            
            
            <!-- The content half -->
            <div class="col-md-6">
                <div class="login d-flex align-items-center py-5">
                    
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4 mt-sm-4">Register</h3>
                                <p class="text-muted mb-4">New to Dharmam Saranam Gachhyami? Register Here.</p>
                                <form method="POST" action="">
                                    {% csrf_token %}

                                    <div class="form-group mb-3"> 
                                        {% if registerform.firstname.errors %}
                                        {{ registerform.firstname|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.firstname}}
                                        {% endif %}
                                        {% for error in registerform.firstname.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3"> 
                                        {% if registerform.middlename.errors %}
                                        {{ registerform.middlename|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.middlename}}
                                        {% endif %}
                                        {% for error in registerform.middlename.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3"> 
                                        {% if registerform.lastname.errors %}
                                        {{ registerform.lastname|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.lastname}}
                                        {% endif %}
                                        {% for error in registerform.lastname.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3"> 
                                        {% if registerform.username.errors %}
                                        {{ registerform.username|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.username}}
                                        {% endif %}
                                        {% for error in registerform.username.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3">
                                        {% if registerform.email.errors %}
                                        {{ registerform.email|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.email}}
                                        {% endif %}
                                        {% for error in registerform.email.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3">
                                        {% if registerform.phone_number.errors %}
                                        {{ registerform.phone_number|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.phone_number}}
                                        {% endif %}
                                        {% for error in registerform.phone_number.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3">
                                        {% if registerform.password1.errors %}
                                        {{ registerform.password1|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.password1}}
                                        {% endif %}
                                        {% for error in registerform.password1.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3">
                                        {% if registerform.password2.errors %}
                                        {{ registerform.password2|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            {{registerform.password2}}
                                        {% endif %}
                                        {% for error in registerform.password2.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group mb-3">
                                        {% if registerform.role.errors %}
                                        {{ registerform.role|add_attr:"form-control is-invalid" }}
                                        {% else %}
                                            <p class="text-muted">{{registerform.role}} Would you like to register as a Service Provider?</p>
                                        {% endif %}
                                        {% for error in registerform.role.errors %}
                                            <span class="ps-2" style="color: #B71C1C;"> {{ error }} </span>
                                        {% endfor %}
                                    </div>

                                    <!----Reference register form from views register------------->
                                    <!-- {{registerform.as_p}} -->
                                    
                                    <button type="submit" value="Register"
                                    class="btn btn-primary btn-block text-uppercase mb-2 w-100 rounded-pill shadow-sm p-2">Register</button>

                                    <hr>
                                    <label class="text-muted">By clicking Register, you agree to the <a href="">term of use</a></label>
                                    
                                </form>
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div>
        </div>
    </div>
    
</body>

{% endblock %}

</html>