<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>

{% extends 'login/base.html' %}

<body>

    {% block body_block %}

    <h1 class="text-center py-4">Update Profile</h1>

    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            
            {{ form_user.as_p }}
            {{ form_userData.as_p }}
            <br>
            <button class="btn btn-secondary" type="submit">Update Profile</button>
        </form>
    </div>

    {% endblock %}
    
</body>
</html>